
<div class="chi-siamo">

  <em style="padding-left: 20px;">
  Siamo nati come un piccolo negozio di elettronica. Negli anni abbiamo avuto una rapida crescita sia nel mercato che nei servizi.

  Ora siamo in grado di dare un servizio completo “dall’idea al prodotto finito”. La nostra competenza va ben oltre la semplice consulenza pre-progetto, progettazione, masterizzazione, fornitura di circuiti stampati e componenti, montaggio e collaudo delle apparecchiature. Noi siamo i tuoi partner: insieme possiamo raggiungere meglio i tuoi traguardi.

  Ogni giorno ci rivolgiamo alle aziende e ai privati che hanno bisogno di componenti e schede elettroniche per la produzione e per l’assistenza o ricambi. Effettuiamo anche riparazioni di schede industriali, assemblaggio di pacchi batteria e per aiutarti nella tua ricerca, abbiamo avviato il nostro negozio per la vendita on-line partendo con i componenti obsoleti o Hard-to-Find. Manteniamo l’ecommerce in continuo evoluzione con l'obiettivo di renderti disponibili tutti i prodotti.

  Ci teniamo a poterti garantire la miglior fornitura di componenti. Nel tempo abbiamo creato una fitta rete di rapporti nazionali e internazionali per poter soddisfare le tue esigenze anche in condizioni di mercato difficili. La velocità nel darti risposte e soddisfare le tue richieste sono la nostra priorità, la nostra gestione intelligente dello stock ci permette di completare i tuoi ordini rapidamente.
  </em>
</div>
