
nav{
  margin-bottom: 8% ;
  padding: 1%;
}

nav ul{
 display: flex;
 justify-content: flex-end;
 list-style: none;

}

nav ul > li{
  padding: 0 10px;

}

nav ul  li > a{
  padding: 0 10px;
  font-size: 1.5rem;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(25, 24, 24) ,
  1px 1px 2px rgb(34, 34, 34) ;
  text-decoration: none;

}


@media screen and (max-width: 600px) {
  nav ul  li > a{
    font-size: 4vw;
  }
}
